.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.post_button_container{
    display: flex;
    margin-left: 10px;
}