*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body{
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
  width: 100%;
}

.App{
  max-width: 800px;
  margin: 0 auto;
  padding:15px 10px; 
  display: flex;
  flex-direction: column;
}
.pagination-arr{
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  padding: 5px 15px;
  background: transparent;
  color: teal;
  border: 1px solid teal;
  cursor: pointer;
}
.page_current{
  border: 2px solid orange;
  font-weight: bold;
}



